{% extends "users/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CHESS GAME TEST</title>

        <!--Chess CDNs-->
        <link rel="stylesheet" 
            href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
            integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" 
            crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
                crossorigin="anonymous"></script>

        <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
                integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
                crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.12.0/chess.min.js"
                integrity="sha512-ujGsB4vTyNcSuViwM2DJ0+G2BIViQJl2rVBZBekStznA9Hq96+Wd9+jwu9zlttp0U2/9CYhgR7pOt2j+E6yewg==" 
                crossorigin="anonymous" 
                referrerpolicy="no-referrer"></script>

        <!--Reconnecting websocket-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"
                integrity="sha512-SxQulwFs2B38bmUJtBSo9tD07MDrtCbY8me3AOZ14tRknCPTeMDLvCQV4ekhs8R0o9QPnW5HQanKfveexVcwLA=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <!--Game status displays-->
        <div class="mx-auto">
            <div id="myBoard" style="width: 400px; margin-left: auto; margin-right: auto;"></div>
            <div id="gameInfoDisplay" class="text-center mt-2">
                <label style="display: inline-block; margin-top: 5px;">Status:</label>
                <div id="status" class="form-control mx-auto w-25" readonly></div>
                <label style="display: inline-block; margin-top: 5px;">FEN:</label>
                <div id="fen" class="form-control  mx-auto w-50" readonly></div>
                <label style="display: inline-block; margin-top: 5px;">PGN:</label>
                <div id="pgn" class="form-control  mx-auto w-50" readonly></div>
            </div>
        </div>

        <!--Previous move higlight colors-->
        <style type="text/css">
            .highlight-white {
            box-shadow: inset 0 0 3px 3px yellow;
            }
            .highlight-black {
            box-shadow: inset 0 0 3px 3px blue;
            }
        </style>

        <script>
            var path = 'ws://' + window.location.host + '/game/' + '{{game_id}}'
            var gameSocket = new ReconnectingWebSocket(path);

            var board = null
            var game = new Chess()
            var side = null

            var $status = $('#status')
            var $fen = $('#fen')
            var $pgn = $('#pgn')

            var highlightColorBlack = '#6BA432'
            var highlightColorWhite = '#AAD481'
            var colorRed = '#FF2E2E'

            // chessboard.js classes
            var squareClass = 'square-55d63'
            var blackClass = 'black-3c85d'
            var whiteClass = 'white-1e1d7'

            // Highlight functions
            function removeHighlightPossible () {
                $('#myBoard .' + squareClass).css('background', '')
            }

            function removeHighlightPrevious (color) {
                $('#myBoard').find('.' + squareClass).removeClass('highlight-' + color)
            }

            function highlightPossible (square) {
                var $square = $('#myBoard .square-' + square)

                var background = highlightColorWhite
                if ($square.hasClass(blackClass)) {
                    background = highlightColorBlack
                }

                $square.css('background', background)
            }

            function highlighPrevious (source, target) {
                // NOTE: turn has already changed
                var color = 'white'
                var highlight = 'highlight-white'
                if (game.turn() == 'w'){
                    var color = 'black'
                    var highlight = 'highlight-black'
                }

                // Update previous move highlighting
                removeHighlightPrevious(color)
                $('#myBoard').find('.square-' + source).addClass(highlight)
                $('#myBoard').find('.square-' + target).addClass(highlight)
            }

            function highlightCheck (moveColor){
                var kingPos = null
                    if (moveColor === 'White'){
                        kingPos = get_piece_positions(game, {type : 'k', color: 'w'})
                    }
                    else {
                        kingPos = get_piece_positions(game, {type : 'k', color: 'b'})
                    }

                var $square = $('#myBoard .square-' + kingPos)
                $square.css('background', colorRed)
            }

            const get_piece_positions = (game, piece) => {
                return [].concat(...game.board()).map((p, index) => {
                    if (p !== null && p.type === piece.type && p.color === piece.color) {
                        return index
                    }
                }).filter(Number.isInteger).map((piece_index) => {
                    const row = 'abcdefgh'[piece_index % 8]
                    const column = Math.ceil((64 - piece_index) / 8)
                    return row + column
                })
            }

            // Chessboard.js functions
            function onDragStart (source, piece, position, orientation) {
                // Prevent piece movement if game is over
                if (game.game_over()) {
                    return false
                } 

                // Prevent piece movement if the piece doesn't match the current turn color
                if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
                    (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                    return false
                }

                // Prevent piece movement if piece color doesn't match the player's side
                if ((side === 'white' && piece.search(/^w/) === -1) ||
                    (side === 'black' && piece.search(/^b/) === -1)) {
                    return false
                }

                // Get possible moves
                var moves = game.moves({
                    square: source,
                    verbose: true
                })

                if (moves.length == 0) {
                    return;
                }

                // Highlight the origin
                highlightPossible(source)

                // Highlight all possible moves
                for (let i = 0; i < moves.length; i++) {
                    highlightPossible(moves[i].to)
                }

            }

            function onDrop (source, target) {
                removeHighlightPossible()

                var move = game.move({
                    from: source,
                    to: target,
                    promotion: 'q' 
                })

                // Return on illegal move
                if (move === null) return 'snapback'

                highlighPrevious(source, target)

                // Send gameCommand to GameConsumer
                gameSocket.send(JSON.stringify({'gameCommand' : 'newMove',
                                                'origin' : source,
                                                'destination' : target,
                                                'fen': game.fen(),
                                                'pgn': game.pgn()}))

                updateStatus()
            }

            function onSnapEnd () {
                board.position(game.fen())
            }

            function updateStatus () {
                var status = ''

                // The turn changes after the move that lead to checkmate
                var moveColor = 'White'
                var winner = 'black'
                if (game.turn() === 'b') {
                    moveColor = 'Black'
                    winner = 'white'
                }

                // Checkmate
                if (game.in_checkmate()) {
                    highlightCheck(moveColor)
                    status = 'Game over, ' + moveColor + ' is in checkmate.'

                    gameSocket.send(JSON.stringify({'gameCommand' : 'gameOver',
                                                    'winner' : winner}))
                }

                // Draw
                else if (game.in_draw()) {
                    status = 'Game over, drawn position'

                    gameSocket.send(JSON.stringify({'gameCommand' : 'gameOver',
                                                    'winner' : null}))
                }

                // Game still ongoing
                else {
                    status = moveColor + ' to move'

                    // Check
                    if (game.in_check()) {
                        highlightCheck(moveColor)
                        status += ', ' + moveColor + ' is in check'
                    }
                }
                $status.html(status)
                $fen.html(game.fen())
                $pgn.html(game.pgn())

            }

            gameSocket.onmessage = function(e) {
                console.log("Websocket message, data: " + e.data);
                const data = JSON.parse(e.data)

                if (data.gameCommand == 'join'){
                    var config = {
                        draggable: true,
                        dropOffBoard: 'snapback',
                        onDragStart: onDragStart,
                        onDrop: onDrop,
                        onSnapEnd: onSnapEnd,
                        pieceTheme: '/static/chess/pieces/{piece}.png',
                        position: 'start',
                        orientation: data['side']
                    }

                    board = Chessboard('myBoard', config)
                    side = data['side']

                    if (data['pgn'] !== null) {
                        game.load_pgn(data['pgn'])
                    }

                    board.position(game.fen())
                    updateStatus()
                }
                else if (data.gameCommand == 'newMove') {
                    var move = game.move({
                        from: data['origin'],
                        to: data['destination'],
                        promotion: 'q' 
                    })

                    removeHighlightPossible()
                    board.position(game.fen())
                    highlighPrevious(data['origin'], data['destination'])

                    updateStatus()
                }
            }
        </script>
    </body>
</html>
{% endblock content %}